<h1>Listing menu_items</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Item name</th>
      <th>Item desc</th>
      <th>Price</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @menu_items.each do |menu_item| %>
      <tr>
        <td><%= menu_item.restaurant_id %></td>
        <td><%= menu_item.item_name %></td>
        <td><%= menu_item.item_desc %></td>
        <td><%= menu_item.price %></td>
        <td><%= link_to 'Show', restaurant_menu_item_path(@restaurant, menu_item) %></td>
        <td><%= link_to 'Edit', edit_restaurant_menu_item_path(@restaurant, menu_item) %></td>
        <td><%= link_to 'Destroy', [@restaurant, menu_item], confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Menu item', new_restaurant_menu_item_path(@restaurant) %>
<%= link_to 'Back to restaurant', restaurant_path(@restaurant) %>
