<p id="notice"><%= notice %></p>

<p>
  <strong>Restaurant:</strong>
  <%= @menu_item.restaurant_id %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @menu_item.item_name %>
</p>

<p>
  <strong>Item desc:</strong>
  <%= @menu_item.item_desc %>
</p>

<p>
  <strong>Price:</strong>
  <%= @menu_item.price %>
</p>

<%= link_to 'Edit', edit_restaurant_menu_item_path(@restaurant, @menu_item) %> |
<%= link_to 'Back', restaurant_menu_items_path(@restaurant) %>
