<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if current_user.restaurants.any? %>
	<strong>Restaurants I own:</strong>
	<% current_user.restaurants.each do |r| %>
		<p><%= link_to "#{r.name}", restaurant_path(r) %></p>
	<% end %>
<% end %>

	<% if current_user.checks.any? %>
		<% if current_user.checks.pending.any? %>
			<strong>Currently checked in to:</strong>
			<%= link_to "#{current_user.checks.pending.last.restaurant.name}", check_path(current_user.checks.pending.last.id) %>
		<% end %>
		<h5>Old Receipts</h5>
		<% current_user.checks.closed.each do |check| %>
  		<p><%= link_to "#{check.restaurant.name} at #{check.paid_at}", check_path(check) %></p>
		<% end %>
	<% else %>
		<p>Check out a restaurant profile to start a new check!</p>
	<% end %>
<br>
<br>

<%= link_to 'Back', restaurants_path %>
