<%= form_for([@check, @check_item]) do |f| %>
  <% if @check_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_item.errors.count, "error") %> prohibited this check_item from being saved:</h2>

      <ul>
      <% @check_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurant_id %><br>
    <%= f.number_field :restaurant_id %>
  </div>
  <div class="field">
    <%= f.label :item_name %><br>
    <%= f.text_field :item_name %>
  </div>
  <div class="field">
    <%= f.label :item_desc %><br>
    <%= f.text_area :item_desc %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
