<p>
  <strong>Restaurant:</strong>
  <%= @check_item.restaurant_id %>
</p>

<p>
  <strong>Item name:</strong>
  <%= @check_item.item_name %>
</p>

<p>
  <strong>Item desc:</strong>
  <%= @check_item.item_desc %>
</p>

<p>
  <strong>Price:</strong>
  <%= @check_item.price %>
</p>

<%= link_to 'Edit', edit_check_check_item_path(@check, @check_item) %> |
<%= link_to 'Back', check_check_items_path %>
