<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<h3>Checkin:</h3>
<% if logged_in? %>
  <% if !(current_user.checked_in) %>
  	<p>
  	  <%= link_to 'Check in to this restaurant', checks_path( :restaurant_id => @restaurant.id ), method: :post %>
  	</p>
  <% else %>
    <p>You're already checked into a restaurant!</p>
  <% end %>
<% else %>
  <p>Please login to check into this restaurant.</p>
<% end %>

<br>
<br>
<p> Menu items for this restaurant: </p>
<% @restaurant.menu_items.each do |i| %>
<%= i.item_name %>
<%= i.item_desc %>
<%= number_to_currency(i.price) %>
<br>
<% end %>
<br>
<br>
<% if current_user.id == @restaurant.owner.id %>
<h2>AUTHORIZED VIEW: OWNER-ONLY SECTION</h2>
<h3>Welcome, <%= @restaurant.owner.email%>!</h3>
<%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Add Menu item', new_restaurant_menu_item_path(@restaurant) %>
<br>
<h4>List of Diners with open checks at this restaurant:</h4>
<% @restaurant.checks.pending.each do |check| %>
	<%= link_to "#{check.diner.email}", check_path(check) %>
<% end %>

<h5>Old Receipts</h5>
<% @restaurant.checks.closed.each do |check| %>
  <p><%= link_to "#{check.diner.email} at #{check.paid_at}", check_path(check) %></p>
<% end %>
<% end %>

<br>
<br>
<br>


