<div class="row">
  <div class="small-6 columns">
    <h3><%= @restaurant.name %></h3>

    <p>
      <%= @restaurant.address %>
    </p>
    <strong>Description:</strong>
    <p><%= @restaurant.description %></p>
  </div>
  <div class="small-6 columns">
    <h3> Menu</h3>
    <div id='menu-list'>
      <%= render partial: "menu_items" %>
    </div>
  </div>
</div>

<% if logged_in? %>
  <% if !(current_user.checked_in) %>
    <p>
      <%= button_to 'Check in to this restaurant', checks_path( :restaurant_id => @restaurant.id ), class: "button", method: :post %>
    </p>
  <% else %>
    <p>You're already checked into a restaurant!</p>
  <% end %>
<% else %>
  <p>Please login to check into this restaurant.</p>
<% end %>

 <!--This is the div closing for large-8 columns-->

<% if current_user && current_user.id == @restaurant.owner.id %>
  <h2>Owner Section</h2>
  <div class="row">
    <div class="small-6 columns">
      <h3>Add Menu Items</h3>
      <%= form_for([@restaurant, @menu_item], remote: true) do |f| %>
        <div id='menu-item-errors'>
          <%= render partial: "/restaurants/menu_item_errors" %>
        </div>

        <div class="field">
          <%= f.label :item_name , :style => "color: #fff;" %><br>
          <%= f.text_field :item_name %>
        </div>
        <div class="field">
          <%= f.label :item_desc, :style => "color: #fff;" %><br>
          <%= f.text_area :item_desc %>
        </div>
        <div class="field">
          <%= f.label :price, :style => "color: #fff;" %><br>
          <%= f.text_field :price %>
        </div>
        <div class="actions">
          <%= f.submit "Create Menu Item", id: "newitem_button", class: "button", disable_with: "Submitting.."  %>
        </div>
      <% end %>
    </div>
    <div class="small-6 columns">
      <br>
      <%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant), class: "button" %>
      <h4>Current Diners:</h4>
      <% @restaurant.checks.pending.each do |check| %>
      	<p><%= link_to "#{check.diner.email}", check_path(check) %></p>
      <% end %>
      <a href="#" data-dropdown="drop1" class="button dropdown">Old Receipts</a><br>
      <ul id="drop1" data-dropdown-content class="f-dropdown">
        <% @restaurant.checks.closed.each do |check| %>
          <li><a href="#"></a><%= link_to "#{check.diner.email} at #{check.paid_at}", check_path(check) %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<!-- Need to get working -->
<script type="text/javascript">
  $(function() {
     $("#new_menu_item")
        .on('ajax:beforeSend', function() { // set this code to happen just before the ajax request is made
          $("input[type='submit']") // make changes to the submit button
            .val('Saving...') // change the text on the button
            .attr('disabled', true); // disable the button
        })
        .on('ajax:complete', function() {
          $("input[type='submit']")
            .val('Create MenuItem')
            .removeAttr('disabled');
        });
  });
</script>


