<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<% if logged_in? && !(current_user.checked_in) %>
	<p>
	  <%= link_to 'Check in to this restaurant', checks_path( :restaurant_id => @restaurant.id ), method: :post %>
	</p>
<% end %>

<br>
<br>
<p> Menu items for this restaurant: </p>
<% @restaurant.menu_items.each do |i| %>
<%= i.item_name %>
<%= i.item_desc %>
<%= i.price %>
<br>
<% end %>
<br>
<br> 
<h2>WILL AUTHORIZE: OWNER-ONLY SECTION</h2>
<%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Back to Restaurants Index', restaurants_path %> |
<%= link_to 'Add Menu item', new_restaurant_menu_item_path(@restaurant) %>
<br>
<h4>List of Diners checked into this restaurant:</h4>
<% @restaurant.checks.pending.each do |check| %>
	<%= link_to "#{check.diner.email}", check_path(check) %>
<% end %>


<br>
<br>
<br>


