<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @restaurant.description %>
</p>

<h3>Checkin:</h3>
<% if logged_in? %>
  <% if !(current_user.checked_in) %>
  	<p>
  	  <%= link_to 'Check in to this restaurant', checks_path( :restaurant_id => @restaurant.id ), method: :post %>
  	</p>
  <% else %>
    <p>You're already checked into a restaurant!</p>
  <% end %>
<% else %>
  <p>Please login to check into this restaurant.</p>
<% end %>

<br>
<br>
<p> Menu items for this restaurant: </p>
<div id='menu-list'>
  <%= render partial: "menu_items" %>
</div>
<br>
<br>
<% if current_user && current_user.id == @restaurant.owner.id %>
<h2>AUTHORIZED VIEW: OWNER-ONLY SECTION</h2>
<h3>Welcome, <%= @restaurant.owner.email%>!</h3>
<%= link_to 'Edit Restaurant', edit_restaurant_path(@restaurant) %> |
<%= link_to 'Add Menu item', new_restaurant_menu_item_path(@restaurant) %>
<br>
<h4>List of Diners with open checks at this restaurant:</h4>
<% @restaurant.checks.pending.each do |check| %>
	<%= link_to "#{check.diner.email}", check_path(check) %>
<% end %>

<h5>Old Receipts</h5>
<% @restaurant.checks.closed.each do |check| %>
  <p><%= link_to "#{check.diner.email} at #{check.paid_at}", check_path(check) %></p>
<% end %>

<h3>Add menu items to your restaurant.</h3>
  <%= form_for([@restaurant, @menu_item], remote: true) do |f| %>
    <div id='menu-item-errors'>
      <%= render partial: "/restaurants/menu_item_errors" %>
    </div>

    <div class="field">
      <%= f.label :item_name %><br>
      <%= f.text_field :item_name %>
    </div>
    <div class="field">
      <%= f.label :item_desc %><br>
      <%= f.text_area :item_desc %>
    </div>
    <div class="field">
      <%= f.label :price %><br>
      <%= f.text_field :price %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

<% end %>

<br>
<br>
<br>

<!-- Need to get working -->
<script type="text/javascript">
  $(function() {
     $("#new_menu_item")
        .on('ajax:beforeSend', function() { // set this code to happen just before the ajax request is made
          $("input[type='submit']") // make changes to the submit button
            .val('Saving...') // change the text on the button
            .attr('disabled', 'disabled'); // disable the button
        })
        .on('ajax:complete', function() {
          $("input[type='submit']")
            .val('Create MenuItem')
            .removeAttr('disabled');
        });
  });
</script>


