<% if @check.paid_at == nil %> <!-- make a better check than nil !-->
  <% subtotal = 0 %>

  <% @check.check_items.each do |item| %>
    <% if item.id.present? %>
     <p><%= item.item_name %> 
        Quantity: <%= item.quantity %> 
        Price per Unit: <%= number_to_currency(item.price) %>  
        <strong>Total for this item: <%= number_to_currency(item.quantity * item.price) %></strong> 
        <% if @check.paid_at == nil && current_user.id == @check.restaurant.owner.id %>
          <%= link_to "Delete", {:controller => :check_items, :action => 'destroy', check_id: item.check.id, :id => item.id }, :method => :delete, :confirm => 'Are you sure?' %>
        <% end %>
      </p>
     <% subtotal += (item.price * item.quantity) %>
    <% end %>
  <% end %>

  <h4 id="subtotal" data-num="<%=subtotal%>">Subtotal: <%= number_to_currency(subtotal) %></h4>
  <%= form_for @check, url: pay_check_path do |f| %>
  <% tip_amount = (subtotal * (@check.tip / 100.0)).round(2) %>
  <h4 id='test-tip' data-num="<% tip_amount %>">Tip (at <%= @check.tip %>%): <%= number_to_currency(tip_amount) %></h4>
  <%= f.number_field 'tip', value: @check.diner.tip %>

  <% tax_amount = (subtotal * 0.14).round(2) %>
  <h4>HST (14%): <%= number_to_currency(tax_amount) %></h4>

  <div id='check-calc'>
    <% check_total = subtotal + tip_amount + tax_amount %>
  <h2>Total: <%= number_to_currency(check_total) %></h2>
  
  </div>
  <br>
  <%= f.submit 'Pay now' %>
  <% end %>


<% else %>
  <% subtotal = 0 %>

  <% @check.check_items.each do |item| %>
    <% if item.id.present? %>
     <p><%= item.item_name %> 
        Quantity: <%= item.quantity %> 
        Price per Unit: <%= number_to_currency(item.price) %>  
        <strong>Total for this item: <%= number_to_currency(item.quantity * item.price) %></strong> 
        <% if @check.paid_at == nil && current_user.id == @check.restaurant.owner.id %>
          <%= link_to "Delete", {:controller => :check_items, :action => 'destroy', check_id: item.check.id, :id => item.id }, :method => :delete, :confirm => 'Are you sure?' %>
        <% end %>
      </p>
     <% subtotal += (item.price * item.quantity) %>
    <% end %>
  <% end %>

  <h4>Subtotal: <%= number_to_currency(subtotal) %></h4>

  <% tip_amount = (subtotal * (@check.diner.tip / 100.0)).round(2) %>
  
    <h4>Tip (at <%= @check.diner.tip %>%): <%= number_to_currency(tip_amount) %></h4>

    <% tax_amount = (subtotal * 0.14).round(2) %>
    <h4>HST (14%): <%= number_to_currency(tax_amount) %></h4>

    <h2>Total: <%= number_to_currency(subtotal + tip_amount + tax_amount) %></h2>
  
  <br>

  <p>
    Check closed. Thanks for eating at <%= @check.restaurant.name %>
  </p>

<% end %>

<br>
<br>




