

  <h4 id="subtotal" data-num="<%=@check.subtotal%>">Subtotal: <%= number_to_currency(@check.subtotal) %></h4>
  
  <h4 id="tax-amount" data-num="<%=@check.tax_amount%>">HST (14%): <%= number_to_currency(@check.tax_amount) %></h4>

  <div id='check-total' data-num="<%=@check.total%>">
  <h2>Total: <span><%= number_to_currency(@check.total) %></span></h2>
  
  </div>


