<% if @check.paid_at != nil %>
  <h3>Check is closed. Thanks for eating at <%= @check.restaurant.name %></h3>
<% end %>
<p>
  <strong>Current Diner:</strong>
  <%= @check.diner.email %>
</p>

<p>
  <strong>Restaurant Owner:</strong>
  <%= @check.restaurant.owner.email %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @check.restaurant.name %>
</p>

<p>
  <strong>Paid at:</strong>
  <%= @check.paid_at %>
</p>
<h3>WILL AUTHORIZE: USER Perspective to PAY BILL</h3>

<div id='check-item-list'>
  <%= render partial: 'checks/check_items' %>
</div>

<%= form_for @check, url: pay_check_path do |f| %>
<% tip_amount = (@check.subtotal * (@check.tip / 100.0)).round(2) %>
<p>Set tip or use default:<span><%= f.number_field 'tip', value: @check.diner.tip %></span></p>
<h4 id='tip-amount' data-num="<% @check.tip_amount %>">Tip (at <%= @check.tip %>%): <%= number_to_currency(@check.tip_amount) %></h4>

<div id='check-calculations'>
  <%= render partial: 'checks/check_calculations' %>
</div>

  <%= f.submit 'Pay now' %>
  <% end %>

<% if current_user.id == @check.restaurant.owner.id %>
  <h3>WILL AUTHORIZE: POS Perspective to Add Items to Check</h3>
  <%= form_for [@check, @check_item], remote: true do |f| %>
  <div id='check-item-errors'>
    <%= render partial: 'checks/check_item_errors' %>
  </div>
  	<%= collection_select :menu_item, :id, @check.restaurant.menu_items.all, :id, :item_name, prompt: false %>
  	<%= f.number_field :quantity, default: nil %>
  	<%= f.submit "Add Item" %>
  <% end %>
<% end %>

<script type="text/javascript">
  // $('#tip').on('click', function(){
  //   alert('Hey!');
  // })
    //setup before functions
  var typingTimer;                //timer identifier
  var doneTypingInterval = 2000;  //time in ms, 5 second for example
  // var total = 
  //on keyup, start the countdown
  $('#tip').keyup(function(){
      clearTimeout(typingTimer);
      typingTimer = setTimeout(doneTyping, doneTypingInterval);
  });

  //on keydown, clear the countdown 
  $('#tip').keydown(function(){
      clearTimeout(typingTimer);
  });

  //user is "finished typing," do something
  function doneTyping () {
      $('#check-calc h2').text('Hello');
  }
</script>