<p>
  <strong>User:</strong>
  <%= @check.user_id %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @check.restaurant_id %>
</p>

<p>
  <strong>Paid at:</strong>
  <%= @check.paid_at %>
</p>
<h3>WILL AUTHORIZE: USER Perspective to PAY BILL<h3>

<% @check.check_items.each do |item| %>
  <% if item.id.present? %>
	 <p><%= item.item_name %> Quantity: <%= item.quantity %> Price per Unit: $<%= item.price %>  <strong>Total for this item: $<%= item.quantity * item.price %></strong></p>
  <% end %>
<% end %>

<h3>WILL AUTHORIZE: POS Perspective to Add Items to Check</h3>
<%= form_for [@check, @check_item] do |f| %>
  <% if @check_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@check_item.errors.count, "error") %> prohibited this check_item from being saved:</h2>

      <ul>
      <% @check_item.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
	<%= collection_select :menu_item, :id, @check.restaurant.menu_items.all, :id, :item_name, prompt: false %>
	<%= f.number_field :quantity %>
	<%= f.submit "Add Item" %>
<% end %>

<%= link_to 'Edit', edit_check_path(@check) %> |
<%= link_to 'Back', checks_path %>


