<% if @check.paid_at != nil %>
  <h3>Check is closed. Thanks for eating at <%= @check.restaurant.name %></h3>
<% else %>
  <%= button_to "Update Check", check_path(@check), method: :get %>
<% end %>

<p>
  <strong>Current Diner:</strong>
  <%= @check.diner.email %>
</p>

<p>
  <strong>Restaurant Owner:</strong>
  <%= @check.restaurant.owner.email %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @check.restaurant.name %>
</p>

<p>
  <strong>Paid at:</strong>
  <%= @check.paid_at %>
</p>

<h3>WILL AUTHORIZE: USER Perspective to PAY BILL</h3>

<div id="check-item-list">
  <%= render partial: 'checks/check_items' %>
</div>

<%= form_for @check, url: pay_check_path do |f| %>
  <% tip_amount = (@check.subtotal * (@check.tip / 100.0)).round(2) %>

  <% unless @check.paid_at != nil %>
    <div class="poop">
      <%= f.label :tip, "Set Tip" %>  
      <%= f.text_field 'tip', class: "right inline", value: @check.diner.tip %>
    </div>
  <% end %>


  <form>
  <div class="row">
    <div class="small-6 small-centered columns" >
      <div class="row">
        <div class="small-3 columns">
          <label for="right-label" class="right">Label</label>
        </div>
        <div class="small-9 columns">
          <input type="text" id="right-label" placeholder="Inline Text Input">
        </div>
      </div>
    </div>
  </div>
</form>



  <h4 id='tip-amount' data-num="<%=@check.tip_amount %>">
    Tip (at <span id="new-tip"><%= @check.tip %></span>%): <span id="new-tip-calc">
    <%= number_to_currency(@check.tip_amount) %>
  </span>
  </h4>

  <div id='check-calculations'>
    <%= render partial: 'checks/check_calculations' %>
  </div>

  <% unless @check.paid_at != nil %>
    <%= f.submit 'Pay now' %>
  <% end %>
<% end %>


<% if current_user.id == @check.restaurant.owner.id  && @check.paid_at == nil %>
  <h3>WILL AUTHORIZE: POS Perspective to Add Items to Check</h3>
  <%= form_for [@check, @check_item], remote: true do |f| %>
    <div id='check-item-errors'>
      <%= render partial: 'checks/check_item_errors' %>
    </div>
    	<%= collection_select :menu_item, :id, @check.restaurant.menu_items.all, :id, :item_name, prompt: false %>
    	<%= f.number_field :quantity, default: nil%>
    	<%= f.submit "Add Item" %>
  <% end %>
<% end %>

<script type="text/javascript">
  // $('#tip').on('click', function(){
  //   alert('Hey!');
  // })
    //setup before functions
  var typingTimer;                //timer identifier
  var doneTypingInterval = 1000;  //time in ms, 5 second for example
  
  //on keyup, start the countdown
  $('#check_tip').keyup(function(){
      clearTimeout(typingTimer);
      typingTimer = setTimeout(doneTyping, doneTypingInterval);
  });

  //on keydown, clear the countdown 
  $('#check_tip').keydown(function(){
      clearTimeout(typingTimer);
  });

  //user is "finished typing," do something
  function doneTyping () {
      var newTip = $('#check_tip').val()
      if (!isNaN(newTip)){
      $('#new-tip').text(newTip);
      $('#tip-amount').data('num', parseFloat($('#subtotal').data('num')) * (parseFloat(newTip) / 100) );

      // tAlert = $('#tip-amount').data('num')
      

      $('#new-tip-calc').text('$' + $('#tip-amount').data('num').toFixed(2));

      var total = parseFloat($('#subtotal').data('num')) + parseFloat($('#tip-amount').data('num')) + parseFloat($('#tax-amount').data('num'));

      $('#check-total h2 span').text('$' + total.toFixed(2));
    }
    else{
      alert("Tip has to be a number");
    }
  };
</script>