<% if current_user %>
<p>Logged in as <%= current_user.email %> | 
	<%= link_to 'View my Profile', user_path(current_user) %> | 
  <%= link_to "Edit Profile", edit_user_path(current_user) %> |
  <%= link_to "Logout", :logout, method: :post %>
</p>

	<% if current_user.checks.pending.any? %>
		<p>
			<strong>Currently checked in to:</strong>
			<%= link_to "#{current_user.checks.pending.last.restaurant.name}", check_path(current_user.checks.pending.last.id) %>
		</p>
	<% end %>
<% else %>
  <%= link_to "Register", new_user_path %> |
  <%= link_to "Login", :login %>
<% end %>