<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>dineXdash</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
<div class="contain-to-grid sticky" data-options="sticky_on: large">
  <nav class="top-bar" data-topbar>
            <h3 style="color:white; font-weight:bold; text-align:center">dineXdash</h3>
    </nav>
</div>
    <div class="row">
    <div class="large-3 columns">
      <h1><img src="http://placehold.it/400x100&text=Logo" /></h1>
    </div>
    <div class="large-9 columns">
      <ul class="right button-group">
        <% if current_user.admin? %>
          <%= link_to 'Users', users_path, :class=>"button" %>
          <%= link_to 'Checks', checks_path, :class=>"button" %>
        <% end %>
        <%= link_to 'Restaurants', restaurants_path, :class=>"button" %>

      </ul>
  </div>
  </div>
<div id="nav">
  <%= render partial: 'layouts/nav' %>
</div>
<div>
  <p id="notice"><%= flash[:notice] %></p>
  <p id="alert"><%= flash[:alert] %></p>
</div>

<%= yield %>

<h4>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>