<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>dineXdash</title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <style>
    html,
  body {
   margin:0;
   padding:0;
   height:100%;
}
#containertest {
   min-height:100%;
   position:relative;
   height:100%;

}
#headertest {
   /*background:#ff0;*/
   /*padding:10px;*/
}
#bodytest {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footertest {

   position: fixed;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#333;

   /* -vendor-animation-duration: 3s;
  -vendor-animation-delay: 2s;
  -vendor-animation-iteration-count: infinite;*/
}
    </style>
  </head>

  <body>
    <div id="containertest"> <!-- THIS IS NEW STUFF FOR THE FOOTER-->
<div id="headertest"><!-- THIS IS NEW STUFF FOR THE FOOTER-->
      
<div class="sticky" data-options="sticky_on: large">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1><a href='/'>dineXdash</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#">Menu</a></li>
    </ul>

    <section class="top-bar-section">
      <!-- Right Nav Section -->
        <ul class="right">
          <% if current_user %>
            <li class="has-dropdown">
              <a href="#">Logged in as: <%= current_user.email %> </a>
              <ul class="dropdown">
                <li> <%= link_to 'View my Profile', user_path(current_user) %>  </li>
                <li> <%= link_to "Edit Profile", edit_user_path(current_user) %> </li>
                <li> <%= link_to "Logout", :logout, method: :post %> </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Register", new_user_path %> </li>
            <li><%= link_to "Login", :login %> </li>
          <% end %> 
            <li> <%= link_to 'Restaurants', restaurants_path %>  </li> 
        </ul>

      <!-- Left Nav Section -->
      <% if current_user && current_user.admin? %>
        <ul class="left">
          <li class="has-dropdown">
            <a href="#">Admin</a>
              <ul class="dropdown">
                <li>
                  <%= link_to 'Users', users_path, :class=>"button" %>
                </li>
                <li>
                  <%= link_to 'Checks', checks_path, :class=>"button" %>
                </li>
              </ul>
          </li>
        </ul>
      <% end %>
    </section>
  </nav>
</div>


  <% if current_user && current_user.checks.pending.any? %>
    <p>
      <br>
      <strong>Currently checked in to:</strong>
      <%= link_to "#{current_user.checks.pending.last.restaurant.name}", check_path(current_user.checks.pending.last.id) %>

    </p>
  <% end %>


</div> <!-- THIS IS NEW STUFF FOR THE FOOTER-->
 <div id="bodytest"><!-- THIS IS NEW STUFF FOR THE FOOTER-->
    <div class="row">
    <div class="large-3 columns">
    </div>
    
  </div>

<div>
  <p id="notice"><%= flash[:notice] %></p>
  <p id="alert"><%= flash[:alert] %></p>
</div>
<div class="row">
  <div class="twelve scolumns text-center"><br />
    <%= yield %>
  </div>
</div>

</div> <!--probably closing div for bodytest-->


<!-- <div id="myModal" class="reveal-modal" data-reveal>
  <h2>We can use modals for rendering signup form here</h2>
  <p class="lead">.</p>
  <p> http://stackoverflow.com/questions/20726375/pop-up-reveal-modal-dialog-when-submit-by-using-ajax
  </p> <br>
  <p> Or maybe sth like this in users/_form.html.erb:
    f.input id="my-submit" data-reveal-id="myModal" name="commit" type="submit" value="Submit"</p>
  <a class="close-reveal-modal">&#215;</a>
</div> -->

<br>
<br>

    <div id='footertest' >
      <h3 style="color:white; font-weight:bold; text-align:center">Footer </h3></div>
    </div>
  </div>
  </body>
</html>