<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>dineXdash</title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <div class="row">
    <div class="large-3 columns">
      <h1><img src="http://placehold.it/400x100&text=Logo" /></h1>
    </div>
    <div class="large-9 columns">
      <ul class="right button-group">
        <%= link_to 'Users', users_path, :class=>"button" %>
        <%= link_to 'Checks', checks_path, :class=>"button" %>
         <%= link_to 'Restaurants', restaurants_path, :class=>"button" %>

      </ul>
  </div>
  </div>
<div id="nav">
    <% if current_user %>
    Logged in as <%= current_user.email %> | 
      <%= link_to "Edit Profile", edit_user_path(current_user.id) %> |
      <%= link_to "Logout", :logout, method: :post %>
    <% else %>
      <%= link_to "Register", new_user_path %> |
      <%= link_to "Login", :login %>
    <% end %>
  </div>
  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>

<%= yield %>

<h4>
    
    <%= javascript_include_tag "application" %>
  </body>
</html>