<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>dineXdash</title>

    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "sticky-footer" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
    <style>

    #footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
} 
    </style>
  </head>

  <body>
<div class="contain-to-grid sticky" data-options="sticky_on: large">
  <nav class="top-bar" data-topbar>
            <h3 style="color:white; font-weight:bold; text-align:center">dineXdash</h3>
    </nav>
</div>
    <div class="row">
    <div class="large-3 columns">
      <h1><img src="http://placehold.it/400x100&text=Logo" /></h1>
    </div>
    <div class="large-9 columns">
      <ul class="right button-group">
        <% if current_user && current_user.admin? %>
          <%= link_to 'Users', users_path, :class=>"button" %>
          <%= link_to 'Checks', checks_path, :class=>"button" %>
        <% end %>
        <%= link_to 'Restaurants', restaurants_path, :class=>"button" %>

      </ul>
  </div>
  </div>
<div id="nav">
  <%= render partial: 'layouts/nav' %>
</div>
<div>
  <p id="notice"><%= flash[:notice] %></p>
  <p id="alert"><%= flash[:alert] %></p>
</div>

<%= yield %>

<h4>
    
    <%= javascript_include_tag "application" %>


    <dl class="accordion" data-accordion>
  <dd>
    <a href="#panel1">Restaurant 1</a>
    <div id="panel1" class="content active">
      <h2> We could put content for restaurants here: eg description, photo, etc
      </div>
  </dd>
  <dd>
    <a href="#panel2">Restaurant 2</a>
    <div id="panel2" class="content">
      
    </div>
  </dd>
  <dd>
    <a href="#panel3">Restaurant 3</a>
    <div id="panel3" class="content">
     
    </div>
  </dd>
</dl>



<div id="myModal" class="reveal-modal" data-reveal>
  <h2>We can use modals for rendering signup form here</h2>
  <p class="lead">.</p>
  <p> http://stackoverflow.com/questions/20726375/pop-up-reveal-modal-dialog-when-submit-by-using-ajax
  </p> <br>
  <p> Or maybe sth like this in users/_form.html.erb:
    f.input id="my-submit" data-reveal-id="myModal" name="commit" type="submit" value="Submit"</p>
  <a class="close-reveal-modal">&#215;</a>
</div>


    <div id='footer'>
      Test Footer</div>
    </div>
  </body>
</html>